<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/cadastro/cadastro.css">
    <title>Loja | Cadastro</title>
</head>

<body>
    <div id="app">
        <nav>
            <div class="container">
                <div class="row">
                    <div class="col logo">
                        <h1>Logo</h1>
                    </div>
                    <div class="col links">
                        <ul>
                            <li><a href="https://ecommerce-simao.herokuapp.com">Página Inicial</a></li>
                            <li><a href="#">Categorias</a></li>
                            <li><a href="https://ecommerce-simao.herokuapp.com/contato">Contato</a></li>
                            <li><a href="https://ecommerce-simao.herokuapp.com/carrinho">Carrinho</a></li>
                            <li v-if="logado"><a href="https://ecommerce-simao.herokuapp.com/minha-conta">Minha
                                    Conta</a>
                            </li>
                            <li v-if="naoLogado"><a href="https://ecommerce-simao.herokuapp.com/login">Entrar |
                                    Cadastre-se</a></li>
                            <li v-if="logado"><a href="https://ecommerce-simao.herokuapp.com" v-on:click="sair">Sair</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <div class="formulario">
            <div class="container">
                <div class="form">
                    <div class="row">
                        <div class="col"><label for="email">Email:</label>
                            <input type="email" name="email" id="email">
                            <br>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="senha">Senha:</label>
                            <input type="password" name="senha" id="senha">
                            <br>
                        </div>
                        <div class="col">
                            <label for="resenha">Confirmar senha:</label>
                            <input type="password" name="resenha" id="resenha">
                            <br>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col"><label for="nome">Nome:</label>
                            <input type="text" name="nome" id="nome">
                            <br>
                        </div>
                        <div class="col">
                            <label for="sobrenome">Sobrenome:</label>
                            <input type="text" name="sobrenome" id="sobrenome">
                            <br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="cpf">CPF:</label>
                            <input type="text" name="cpf" id="cpf">
                            <br>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <label for="cep">CEP:</label>
                            <input type="text" name="cep" id="cep">
                            <br>
                        </div>
                        <div class="col">
                            <label for="uf">UF:</label>
                            <input type="text" name="uf" id="uf">
                            <br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="endereco">Endereço:</label>
                            <input type="text" name="endereco" id="endereco">
                            <br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="cidade">Cidade:</label>
                            <input type="text" name="cidade" id="cidade">
                            <br>
                        </div>
                        <div class="col">
                            <label for="bairro">Bairro:</label>
                            <input type="text" name="bairro" id="bairro">
                            <br>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col button">
                            <button v-on:click="submit">Cadastrar</button> <a id="criar"
                                href="https://ecommerce-simao.herokuapp.com/login">Já é cadastrado? Fazer login</a>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        new Vue({
            el: '#app',
            data() {
                return {
                    logado: null,
                    naoLogado: null,
                }
            },
            mounted() {
                this.verifyLogin();
            },
            methods: {
                verifyLogin: function () {
                    if (localStorage.getItem('token') == null || localStorage.getItem('token') == undefined) {
                        this.logado = false
                        this.naoLogado = true;
                    }
                    else {
                        axios.get('https://ecommerce-simao.herokuapp.com/api/usuarios/validar-token/?auth=' + localStorage.getItem('token'))
                            .then((response) => {
                                console.log(response.data.status);
                                if (response.data.status == "Valido") {
                                    this.logado = true;
                                    this.naoLogado = false;
                                }
                                else {
                                    this.logado = false;
                                    this.naoLogado = true;
                                }
                            })
                    }
                },
                submit: function () {
                    if (document.getElementById('senha').value != document.getElementById('resenha').value) {
                        alert("As senhas devem coincidir")
                    }
                    else {
                        let endereco = [
                            { cep: document.getElementById('cep').value },
                            { estado: document.getElementById('uf').value },
                            { cidade: document.getElementById('cidade').value },
                            { logradouro: document.getElementById('endereco').value },
                            { bairro: document.getElementById('bairro').value }
                        ];
                        let email = document.getElementById('email').value;
                        let senha = document.getElementById('senha').value;
                        let nome = document.getElementById('nome').value;
                        let sobrenome = document.getElementById('sobrenome').value;
                        let cpf = document.getElementById('cpf').value;
                        axios.post('https://ecommerce-simao.herokuapp.com/api/usuarios/create', {
                            email,
                            senha,
                            nome,
                            sobrenome,
                            cpf,
                            endereco
                        })
                            .then((response) => {

                                console.log(response.data);
                                if (response.data.hasOwnProperty("error")) {
                                    this.alert = true;
                                    alert(response.data.error)
                                }
                                else {
                                    alert("Cadastro realizado!");
                                    localStorage.setItem('token', response.data.token);
                                    window.location.href = 'https://ecommerce-simao.herokuapp.com';
                                }

                            })
                            .catch(function (error) {

                            });
                    }
                }
            }
        })
    </script>
</body>

</html>