<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
    <title>Loja | Página Inicial</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/index/index.css">
</head>

<body>
    <div id="app">
        <nav>
            <div class="container">
                <div class="row">
                    <div class="col logo">
                        <h1>Logo</h1>
                    </div>
                    <div class="col links">
                        <ul>
                            <li><a href="https://ecommerce-simao.herokuapp.com">Página Inicial</a></li>
                            <li><a href="#">Categorias</a></li>
                            <li><a href="https://ecommerce-simao.herokuapp.com/contato">Contato</a></li>
                            <li><a href="https://ecommerce-simao.herokuapp.com/carrinho">Carrinho</a></li>
                            <li v-if="logado"><a href="https://ecommerce-simao.herokuapp.com/minha-conta">Minha
                                    Conta</a>
                            </li>
                            <li v-if="naoLogado"><a href="https://ecommerce-simao.herokuapp.com/login">Entrar |
                                    Cadastre-se</a></li>
                            <li v-if="logado"><a href="https://ecommerce-simao.herokuapp.com" v-on:click="sair">Sair</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <div class="banner">
        </div>
        <section>
            <div class="container">
                <div class="titulo-section">
                    <h1>Alguns produtos</h1>
                </div>
                <div class="row">
                    <div class="col produtos" v-for="produto in produto.slice(0, 5)">
                        <div class="produto">
                            <div class="img">
                                <img :src="produto.imagem[0]" alt="">
                            </div>
                            <div class="titulo">
                                {{produto.nome}}
                            </div>
                            <br>
                            <div class="preco">
                                R$ {{produto.preco}}
                            </div>
                            <br>
                            <div class="action">
                                <button id="comprar" v-on:click="adicionarCarrinho(produto.slug)">Comprar</button>
                                <button id="detalhes" v-on:click="detalhesProdutos(produto.slug)">Detalhes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        new Vue({
            el: '#app',
            data() {
                return {
                    logado: null,
                    naoLogado: null,
                    produto: [],

                }
            },
            mounted() {
                this.verifyLogin();
                this.buscarProdutos();
            },
            methods: {
                adicionarCarrinho: function (slug) {
                    if (localStorage) {
                        let carrinho;
                        if (!localStorage['carrinho']) carrinho = [];
                        else carrinho = JSON.parse(localStorage['carrinho']);
                        if (!(carrinho instanceof Array)) carrinho = [];
                        carrinho.push({"produto":slug});
                        localStorage.setItem('carrinho', JSON.stringify(carrinho));
                    }
                    
                },
                detalhesProdutos: function (slug) {
                    window.location.href = "produto.html?produto=" + slug;
                },
                buscarProdutos: function () {
                    axios.get('https://ecommerce-simao.herokuapp.com/api/produtos')
                        .then((response) => {
                            this.produto = response.data;
                        });
                },
                verifyLogin: function () {
                    if (localStorage.getItem('token') == null) {
                        this.logado = false
                        this.naoLogado = true;
                    }
                    else {
                        axios.get('https://ecommerce-simao.herokuapp.com/api/usuarios/validar-token/?auth=' + localStorage.getItem('token'))
                            .then((response) => {
                                console.log(response.data.status);
                                if (response.data.status == "Valido") {
                                    this.logado = true;
                                    this.naoLogado = false;
                                }
                                else {
                                    this.logado = false;
                                    this.naoLogado = true;
                                }
                            })
                    }
                },
                sair: function () {
                    localStorage.removeItem('token');
                    window.location.href = "https://ecommerce-simao.herokuapp.com/"
                }
            }
        });
    </script>
</body>

</html>