<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/login/login.css">
    <title>Loja | Login</title>
</head>

<body>
    <div id="app">
        <nav>
            <div class="container">
                <div class="row">
                    <div class="col logo">
                        <h1>Logo</h1>
                    </div>
                    <div class="col links">
                        <ul>
                            <li><a href="https://ecommerce-simao.herokuapp.com">Página Inicial</a></li>
                            <li><a href="#">Categorias</a></li>
                            <li><a href="https://ecommerce-simao.herokuapp.com/contato">Contato</a></li>
                            <li><a href="https://ecommerce-simao.herokuapp.com/carrinho">Carrinho</a></li>
                            <li v-if="logado"><a href="https://ecommerce-simao.herokuapp.com/minha-conta">Minha Conta</a>
                            </li>
                            <li v-if="naoLogado"><a href="https://ecommerce-simao.herokuapp.com/login">Entrar |
                                    Cadastre-se</a></li>
                            <li v-if="logado"><a href="https://ecommerce-simao.herokuapp.com" v-on:click="sair">Sair</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <div class="formulario">
            <div class="container">
                <div class="form">
                    <label for="email">Email:</label>
                    <input type="email" name="email" id="email">
                    <br>
                    <label for="senha">Senha:</label>
                    <input type="password" name="senha" id="senha">
                    <br>
                    <button v-on:click="submit">Entrar</button> <a id="criar"
                        href="https://ecommerce-simao.herokuapp.com/cadastro">Não possui conta? Cadastre-se</a>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        new Vue({
            el: '#app',
            data() {
                return {
                    logado: null,
                    naoLogado: null,
                }
            },
            mounted() {
                this.verifyLogin();
            },
            methods: {
                verifyLogin: function () {
                    if (localStorage.getItem('token') == null) {
                        this.logado = false
                        this.naoLogado = true;
                    }
                    else {
                        axios.get('https://ecommerce-simao.herokuapp.com/api/usuarios/validar-token/?auth=' + localStorage.getItem('token'))
                            .then((response) => {
                                console.log(response.data.status);
                                if (response.data.status == "Valido") {
                                    this.logado = true;
                                    this.naoLogado = false;
                                    window.location.href = "https://ecommerce-simao.herokuapp.com/";
                                }
                                else {
                                    this.logado = false;
                                    this.naoLogado = true;
                                }
                            })
                    }
                },
                submit: function () {
                    axios.post('https://ecommerce-simao.herokuapp.com/api/usuarios/auth', {
                        email: document.getElementById('email').value,
                        senha: document.getElementById('senha').value
                    })
                        .then((response) => {

                            if (response.data.hasOwnProperty("error")) {
                                console.log(response.data);

                                alert(response.data.error);
                            }
                            else {
                                localStorage.setItem('token', response.data.token);
                                localStorage.setItem('id', response.data.data_id);
                                window.location.href = 'https://ecommerce-simao.herokuapp.com/';
                            }

                        })
                        .catch(function (error) {

                        });

                }
            }
        })
    </script>
</body>

</html>