<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <link rel="stylesheet" href="css/style.css">
    <title>Loja | Login</title>
    <link rel="stylesheet" href="css/minha-conta/minha-conta.css">
</head>

<body>
    <div id="app">
        <nav>
            <div class="container">
                <div class="row">
                    <div class="col logo">
                        <h1>Logo</h1>
                    </div>
                    <div class="col links">
                        <ul>
                            <li><a href="https://ecommerce-simao.herokuapp.com">Página Inicial</a></li>
                            <li><a href="#">Categorias</a></li>
                            <li><a href="https://ecommerce-simao.herokuapp.com/contato">Contato</a></li>
                            <li><a href="https://ecommerce-simao.herokuapp.com/carrinho">Carrinho</a></li>
                            <li v-if="logado"><a href="https://ecommerce-simao.herokuapp.com/minha-conta">Minha Conta</a>
                            </li>
                            <li v-if="naoLogado"><a href="https://ecommerce-simao.herokuapp.com/login">Entrar |
                                    Cadastre-se</a></li>
                            <li v-if="logado"><a href="https://ecommerce-simao.herokuapp.com" v-on:click="sair">Sair</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <section class="account">
            <div class="container">
                <div class="dados">
                    <div class="row">
                        <div class="foto">

                        </div>
                    </div>
                    <div class="dados-pessoais">
                        <div class="row">
                            <div class="nome"></div>
                        </div>
                        <div class="row">
                            <div class="cpf"></div>
                        </div>
                        <div class="row">
                            <div class="endereco">
                                <div class="row">
                                    <div class="cep"></div>
                                </div>
                                <div class="row">
                                    <div class="logradouro"></div>
                                </div>
                                <div class="row">
                                    <div class="bairro"></div>
                                </div>
                                <div class="row">
                                    <div class="cidade"></div>
                                </div>
                                <div class="row">
                                    <div class="estado"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        new Vue({
            el: '#app',
            data() {
                return {
                    logado: null,
                    naoLogado: null,
                }
            },
            mounted() {
                this.verifyLogin();
                this.userData();
            },
            methods: {
                userData: function() {
                    axios.get('https://ecommerce-simao.herokuapp.com/api/usuarios/'+ localStorage.getItem('id'))
                    .then((response) => {
                        console.log(response.data);
                    })
                },
                verifyLogin: function () {
                    if (localStorage.getItem('token') == null) {
                        this.logado = false
                        this.naoLogado = true;
                        window.location.href = "https://ecommerce-simao.herokuapp.com/login";
                    }
                    else {
                        axios.get('https://ecommerce-simao.herokuapp.com/api/usuarios/validar-token/?auth=' + localStorage.getItem('token'))
                            .then((response) => {
                                console.log(response.data.status);
                                if (response.data.status == "Valido") {
                                    this.logado = true;
                                    this.naoLogado = false;
                                }
                                else {
                                    this.logado = false;
                                    this.naoLogado = true;
                                    window.location.href = "https://ecommerce-simao.herokuapp.com/login";
                                }
                            })
                    }
                },sair: function () {
                    localStorage.removeItem('token');
                    window.location.href = "https://ecommerce-simao.herokuapp.com/"
                }
               
            }
        })
    </script>
</body>

</html>