<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
    <title></title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/produto/produto.css">
</head>

<body>
    <div id="app">
        <nav>
            <div class="container">
                <div class="row">
                    <div class="col logo">
                        <h1>Logo</h1>
                    </div>
                    <div class="col links">
                        <ul>
                            <li><a href="https://ecommerce-simao.herokuapp.com">Página Inicial</a></li>
                            <li><a href="#">Categorias</a></li>
                            <li><a href="https://ecommerce-simao.herokuapp.com/contato">Contato</a></li>
                            <li><a href="https://ecommerce-simao.herokuapp.com/carrinho">Carrinho</a></li>
                            <li v-if="logado"><a href="https://ecommerce-simao.herokuapp.com/minha-conta">Minha
                                    Conta</a>
                            </li>
                            <li v-if="naoLogado"><a href="https://ecommerce-simao.herokuapp.com/login">Entrar |
                                    Cadastre-se</a></li>
                            <li v-if="logado"><a href="https://ecommerce-simao.herokuapp.com" v-on:click="sair">Sair</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <section id="produto">
            <div class="container">
                <div class="titulo-section">
                    <h1>{{produto.nome}}</h1>
                </div>
                <div class="row">
                    <div class="col produtos">
                        <div class="produto">
                            <div class="img">
                                <img :src="produto.imagem[0]" alt="">
                            </div>
                            <br>
                            <div class="descricao">
                                {{produto.descricao}}
                            </div>
                            <br>
                            <div class="preco">
                                R$ {{produto.preco}}
                            </div>
                            <br>
                            <div class="action">
                                <button id="comprar">Comprar</button>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col imagens">
                    <h1>Outras Fotos</h1>
                        <br>
                        <div class="outras-img">
                            <div class="img-1">
                                <img v-if="produto.imagem[1]" :src="produto.imagem[1]" alt="">
                            </div>
                            <div class="img-2">
                                <img v-if="produto.imagem[2]" :src="produto.imagem[2]" alt="">
                            </div>
                            <div class="img-3">
                                <img v-if="produto.imagem[0]" :src="produto.imagem[0]" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        new Vue({
            el: '#app',
            data() {
                return {
                    logado: null,
                    naoLogado: null,
                    produto: []
                }
            },
            mounted() {
                this.verifyLogin();
                this.buscarProdutos();
            },
            methods: {
                urlDecode: function (string, overwrite) {
                    if (!string || !string.length) {
                        return {};
                    }
                    let obj = {};
                    let pairs = string.split('&');
                    let pair, name, value;
                    let lsRegExp = /\+/g;
                    for (let i = 0, len = pairs.length; i < len; i++) {
                        pair = pairs[i].split('=');
                        name = unescape(pair[0]);
                        value = unescape(pair[1]).replace(lsRegExp, " ");
                        //value = decodeURIComponent(pair[1]).replace(lsRegExp, " ");
                        if (overwrite !== true) {
                            if (typeof obj[name] == "undefined") {
                                obj[name] = value;
                            } else if (typeof obj[name] == "string") {
                                obj[name] = [obj[name]];
                                obj[name].push(value);
                            } else {
                                obj[name].push(value);
                            }
                        } else {
                            obj[name] = value;
                        }
                    }
                    return obj;
                },


                getvar: function (param) {
                    let wl = window.location.href;
                    let params = this.urlDecode(wl.substring(wl.indexOf("?") + 1));
                    return (params[param]);
                }
                ,
                buscarProdutos: function () {

                    axios.get('https://ecommerce-simao.herokuapp.com/api/produtos/' + this.getvar("produto"))
                        .then((response) => {
                         
                            this.produto = response.data;
                            document.title = "Loja | " + response.data.nome;
                        });
                },
                verifyLogin: function () {
                    if (localStorage.getItem('token') == null) {
                        this.logado = false
                        this.naoLogado = true;
                    }
                    else {
                        axios.get('https://ecommerce-simao.herokuapp.com/api/usuarios/validar-token/?auth=' + localStorage.getItem('token'))
                            .then((response) => {
                               
                                if (response.data.status == "Valido") {
                                    this.logado = true;
                                    this.naoLogado = false;
                                }
                                else {
                                    this.logado = false;
                                    this.naoLogado = true;
                                }
                            })
                    }
                },
                sair: function () {
                    localStorage.removeItem('token');
                    window.location.href = "https://ecommerce-simao.herokuapp.com/"
                }
            }
        });
    </script>
</body>

</html>