.form {
    width: 100%;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    padding-top: 50px;
    box-shadow: 0px 0px 5px #000;
    padding-bottom: 50px;
    border-radius: 10px;
    margin-bottom: 100px;
}
.formulario {
    padding-top: 80px;
}
.row {
    width: 100%;
}
.col {
    width: 40%;
    margin-left: 5%;
}
.button {
    justify-content: flex-end;
    align-items: center;
    width: 100% ;
}
label {
    margin-left: 5%;
}
#email, #senha, #resenha, #nome, #sobrenome, #cpf, #cep, #uf, #cidade, #endereco, #bairro {
    width: 100%;
   margin-left: 5%;
    height: 40px;
    margin-bottom: 30px;
    font-weight: 700;
    text-align: center;
    font-size: 1em;
    border: 1px solid #888;
    outline: none;
    border-radius: 10px;
}
button {
    width: 50%;
    height: 50px;
    border: 1px solid #fff;
    background: rgb(0, 102, 255);
    font-weight: 700;
    cursor: pointer;
    color: #fff;
    border-radius: 10px;
    background: #43cea2;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #185a9d, #43cea2);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #185a9d, #43cea2);
}
#criar {
    margin-right: 5%;
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
    
}
@media (max-width: 768px) {
    .col {
        width: 90%;
        margin-left: 0%;
        
    }
    .button {
        align-items: flex-end;
        margin-left: 5%;
    }
    .button button{
        width: 100%;
        
    }
    .button a {
        float: right;
    }
}